
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/user/stylesheets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/user/stylesheets/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/user/stylesheets/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/user/stylesheets/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/user/stylesheets/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/user/stylesheets/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/user/stylesheets/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/user/stylesheets/style.css" type="text/css">
    {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://kit.fontawesome.com/eed1365ac8.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
<link rel="stylesheet" href="/user/bannercss/owl.carousel.min.css">
<link rel="stylesheet" href="/user/banner/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/user/banner/css/style.css">
</head>
<body>

    <!-- Header Section End -->
    {{>userheader}}
    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="categories__item categories__large__item set-bg"
                    data-setbg="/user/images/home/MainJacket.png"
                    >
                    <div class="categories__text">
                        <h1>Riding Jackets</h1>
                        <a href="/shop">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/user/images/home/RidingBoots.png"  style="background-color:#BDE2D8 ;">
                            <div class="categories__text">
                                <h4 style="color:rgb(255, 255, 255); text-shadow: 2px 2px rgb(0, 0, 0);">Riding Boots</h4>
                                <a href="/shop">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/user/images/home/RidingPants.png"   style="background-color:#FCDCE1 ;"> 
                            <div class="categories__text">
                                <h4 style="color:rgb(255, 255, 254); text-shadow: 2px 2px rgb(0, 0, 0);;">Riding Pants</h4>
                                <a href="/shop">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/user/images/home/RidingGloves.png"   style="background-color:#D4D4EE ;">
                            <div class="categories__text">
                                <h4 style="color:rgb(255, 255, 255); text-shadow: 2px 2px rgb(0, 0, 0);" >Riding Gloves</h4>
                                <a href="/shop">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/user/images/home/RidingGaurds.png"   style="background-color:#CCE3F5 ;">
                            <div class="categories__text">
                                <h4 style="color:rgb(255, 255, 255); text-shadow: 2px 2px rgb(0, 0, 0);">Riding Gaurds</h4>
                                <a href="/shop">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>New Arrivals</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".HELMETS">Helmets</li>
                    <li data-filter=".JACKETS">Jackets</li>
                    <li data-filter=".GLOVES">Gloves</li>
                    <li data-filter=".PANTS">Pants</li>
                    <li data-filter=".BOOTS">Boots</li>
                </ul>
            </div>
        </div>
        <div class="row property__gallery">
            {{#each products}}
            <div class="col-lg-3 col-md-4 col-sm-6 mix   {{this.Category}} itemBox">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/admin/productImages/{{this.images.[0]}}" style="background-size: contain; ">
                        <div class="label new">SAVE {{this.Poffer}}%</div>
                        <ul class="product__hover">
                            <li><a href="/admin/productImages/{{this.images.[0]}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a onclick="addToWishlist('{{this._id}}')"><span class="icon_heart_alt"></span></a></li>
                            <li><a  onclick="addToCart('{{this._id}}'); return false;"><span class="icon_cart_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/productDetails/{{this._id}}">{{this.Name}}</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">₹ {{this.Price}} /-</div>
                    </div>
                </div>
            </div>{{/each}}
    </div>
</section>
<!-- Product Section End -->

<!-- Banner Section Begin -->
{{!-- <section class="banner set-bg" data-setbg="/user/images/bannermain.jpg">
    <div class="container">
        <div class="row">`
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">
                    <div class="banner__item">
                        <div class="banner__text">
                            <span> Voyager Collection</span>
                            <h1 style="color: rgb(255, 221, 0);">The Vintage Jacket</h1>
                            <a href="#" style="text-decoration: none;">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span> Voyager Collection</span>
                            <h1 style="color: rgb(255, 221, 0);">The Vintage Jacket</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>Voyager Collection</span>
                            <h1 style="color: rgb(255, 221, 0);">The Vintage Jacket</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> --}}
<section  class="">
<div class="home-slider owl-carousel js-fullheight">
      <div class="slider-item js-fullheight" style="background-image:url(/admin/productImages/{{banner.images.[0]}});">
      	<div class="overlay">€                                                         </div>
        <div class="container">
          <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
	          <div class="col-md-12 ftco-animate">
	          	<div class="text w-100 text-center">
	          		<h2>{{banner.Description}}</h2>
                    <h1 class="mb-3" style="font-family: 'Brush Script MT', cursive;"><a style="font-family: 'Brush Script MT', cursive; color: white;" href="/shop">{{banner.text1}}</a></h1>
	            </div>
	          </div>
	        </div>
        </div>
      </div>

      <div class="slider-item js-fullheight" style="background-image:url(/admin/productImages/{{banner.images.[1]}});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
	          <div class="col-md-12 ftco-animate">
	          	<div class="text w-100 text-center">
	          		<h2>{{banner.Description}}</h2>
		            {{!-- <h1 class="mb-3" style="font-family: 'Brush Script MT', cursive;">{{banner.text2}}</h1> --}}
                    <h1 class="mb-3" style="font-family: 'Brush Script MT', cursive;"><a style="font-family: 'Brush Script MT', cursive; color: white;" href="/shop">{{banner.text2}}</a></h1>
	            </div>
	          </div>
	        </div>
        </div>
      </div>

      <div class="slider-item js-fullheight" style="background-image:url(/admin/productImages/{{banner.images.[2]}});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
	          <div class="col-md-12 ftco-animate">
	          	<div class="text w-100 text-center">
	          		<h2>{{banner.Description}}</h2>
		            <h1 class="mb-3" style="font-family: 'Brush Script MT', cursive;"><a style="font-family: 'Brush Script MT', cursive; color: white;" href="/shop">{{banner.text3}}</a></h1>
	          </div>
	        </div>
        </div>
      </div>
    </div>
</section>

<!-- Banner Section End -->

<!-- Trend Section Begin -->

<!-- Trend Section End -->


<!-- Discount Section End -->

<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"  style="color: rgb(255, 221, 0);"></i>
                    <h6>Free Shipping</h6>
                    <p>For all oder over ₹499</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"  style="color: rgb(255, 221, 0);"></i>
                    <h6>Money Back Guarantee</h6>
                    <p>If The Product Is Deffective</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-support"  style="color: rgb(255, 221, 0);"></i>
                    <h6>Online Support 24/7</h6>
                    <p>Dedicated support</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"  style="color: rgb(255, 221, 0);"></i>
                    <h6>Payment Secure</h6>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{>userfooter}}
{{>userjs}}
</body>

</html>